.MainContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; 
  align-items: center;  
  gap: 1rem;             
}
.MainContainer a {
    text-decoration: none ; 
    color: white;
}