.MainContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; /* centers children horizontally inside grid cells */
  align-items: center;   /* centers children vertically inside grid cells */
  gap: 1rem;             /* optional spacing between rows */
}
.MainContainer a {
    text-decoration: none ; 
    color: white;
}